<%= form_for(@place) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>

    <%= f.label :website %>
    <%= f.text_field :website, class: 'form-control' %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>

    <%= f.label :category %>
    <%= f.select :category, Place::CATEGORY %>

    <%= f.label :changing_tables, class: "checkbox inline" do %>
      <%= f.check_box :changing_tables %>
      <span>Changing Tables</span>
    <% end %>

    <%= f.label :family_bathroom, class: "checkbox inline" do %>
      <%= f.check_box :family_bathroom %>
      <span>Family Bathroom</span>
    <% end %>

    <%= f.label :high_chairs, class: "checkbox inline" do %>
      <%= f.check_box :high_chairs %>
      <span>High Chairs</span>
    <% end %>

    <%= f.label :nursing_room, class: "checkbox inline" do %>
      <%= f.check_box :nursing_room %>
      <span>Nursing Room</span>
    <% end %>


  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>