<% provide(:title, @place.name) %>
<h1>
  <%= @place.name %>
</h1>

<ul>
  <li>Address:      <%= @place.address %></li>
  <br>
  <li>Website:      <%= @place.website %></li>
  <br>
  <li>Phone Number: <%= @place.phone_number %></li>
  <br>
  <li>Category:     <%= @place.category %></li>
  <br>
  <li>Changing Tables? 
    <%if @place.changing_tables == true %>
      <span>Yes!</span>
    <%else%>
      <span>No</span>
    <%end%>
  </li>
  <br>
    <li>Family bathroom? 
      <%if @place.family_bathroom == true %>
        <span>Yes!</span>
      <%else%>
        <span>No</span>
      <%end%>
    </li>
  <br>
  <li>High chairs? 
    <%if @place.high_chairs == true %>
      <span>Yes!</span>
    <%else%>
      <span>No</span>
    <%end%>
  </li>
  <br>
  <li>Nursing room? 
    <%if @place.nursing_room == true %>
      <span>Yes!</span>
    <%else%>
      <span>No</span>
    <%end%>
  </li>
</ul>

<h2>Have some of these details changed?</h2>
<h2><%= link_to "Update them and share with other parents!", edit_place_path%></h2>

<h1>Reviews submitted about <%= @place.name %></h1>
<ul>
  <% @place.reviews.each do |review| %>
    <li><%= review.content %>
    <br>
    Submitted by <%= review.user.name%></li>
  <%end%>
</ul>