<% provide(:title, @place.name) %>
<h1>
  <%= @place.name %>
</h1>

<ul>
  <li>Address:      <%= @place.address %></li>
  <br>
  <li>Website:      <%= @place.website %></li>
  <br>
  <li>Phone Number: <%= @place.phone_number %></li>
  <br>
  <li>Category:     <%= @place.category %></li>
</ul>

<h2>Have some of these details changed?</h2>
<h2><%= link_to "Update them and share with other parents!", edit_place_path%></h2>

