<% provide(:title, @place.name) %>
<h1>
  <%= @place.name %>
</h1>

<div class="row">
<ul>

  <li>Address:      <%= @place.address %></li>
  <br>
  <li>Website:      <%= @place.website %></li>
  <br>
  <li>Phone Number: <%= @place.phone_number %></li>
  <br>
  <li>Category:     <%= @place.category %></li>

</ul>
</div>
